body{
	background-color:black;
	color:white;
}

a{
	color: blue;
}

.innpakning, .preview{
	background-color: navy;
}

td, .kolonne, .kommentarer{
	background-color: black	;
}

.varenavn, .beskrivelse, .pris, .rating, th, .kommentarinfo{
	background-color: #222222;
}

.kommentartekst{
	background-color: #555555;
}