.preview{
	background-color:red;
	display:flex;
	padding:0;
	justify-content: space-between;
	width:330px;
}

.vare{
	display:flex;
	background-color:yellow;
	flex-flow: column nowrap;
	align-items: bottom;
	margin:auto;
	flex-grow:1;
}

.varebilde{
	flex-grow:1;
	align-self: center;
	background-color:green;
	padding:5px;
}

.tekstlenke{
	flex-grow:1;
	align-self: flex-end;
	background-color: blue;
	align-items:auto;
}