.preview{
	background-color:red;
	display:flex;
	flex-flow:row wrap;
	width:340px;
	padding-left:9px;
	padding-bottom:9px;
	margin:auto;
}

.topsellers{
	width:100%;
}
.vare{
	background-color:white;
	flex-grow:1;
}

img{
	height:120px;
	width:110px;
}
