.preview{
	background-color:red;
	display:flex;
	padding:0;
	justify-content: space-between;
	width:330px;
}

.vare{
	display:flex;
	background-color:yellow;
	flex-flow: row wrap;
	align-items: bottom;
	margin:auto;
	
}

.varebilde{
	min-width:100%;
	align-self: center;
	background-color:green;
	padding:5px;
	width:100px;
	max-height:150px;
}

img{
	max-height:150px;
	max-width:100px;
}

.tekstlenke{
	background-color: purple;
	align-items:bottom;
	margin:auto;
}