/*Kommenter:*/
	.kommenter{
		display: flex;
		flex-flow: column wrap;
	}

	.brukernavn{
		flex-grow
	}

/*Kommentarfelt:*/
	.kommentar {
		display:flex;
		flex-flow:column wrap;
		width:40%;
	}
	.kommentarinfo {
		background-color:grey;
		flex-grow:1;
	}
	.kommentarinfo div {
	
	}

	.kommentartekst{
		background-color:#C4C3C3; 
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
		min-height:8%;
		padding-top:3%;
		padding-left:2%;
		resize: none;
	}

	textarea{
		resize: none;
	}

