/*Kommentarfelt:*/
	.kommentar {
		display:flex;
		flex-flow:column wrap;
		width:100%;
	}
	.kommentarinfo {
		background-color:grey;
		padding: 5px;
	}

	.kommentartekst{
		background-color:#C4C3C3; 
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
		min-height:8%;
		padding: 5px;
		resize: none;
	}

	textarea, .brukernavn{
		resize: none;
		width: 100%;
	}

	.kommentarer{
		display: flex; flex-grow: 1; flex-flow: column;
		width: 40%;
		padding: 10px;
		background-color: white;
	}
