/*Kommentarfelt:*/
	.kommentar {
		display:flex;
		flex-flow:column wrap;
		width:20%;
	}
	.kommentarinfo {
		background-color:grey;
	}
	.kommentarinfo div {
	
	}

	.kommentartekst{
		background-color:#C4C3C3; 
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
		min-height:8%;
		padding-top:3%;
		padding-left:2%;
		resize: none;
	}

	textarea{
		resize: none;
		width: 100%;
	}

	.kommentarer, .kolonne{
		display: flex; flex-grow: 1; flex-flow: column;
		border: 1px solid;
		width: 40%;
		padding: 10px;
	}
