body{
	margin: 0;
}

.top {
	font-family: "Courier New";
	font-size: 18px;
	width: 100%;
	background-color: #111111;
	display: flex;
	flex: 1;
	color: #e2df0f;
	position: fixed;
}

.top .tittel {
	text-align: center;
	font-size: 2vw;
	font-weight: bold;
	line-height: 2.8;
	align-items: center;
	flex-grow: 2;
}

.top .navigering {
	display: flex;
	float: right;
	font-size: 1.3vw;
	margin-top: 10px;
	margin-right: 50px;
}

.lenke {
	background-color: #e2df0f;
	margin: 10px;
	padding: 0;
	border-radius: 8px;
}

.lenke a{  
	color: #b0b0b0;
	text-decoration: none; 
	color:black; 
	font-size: 17px; 
	border: none;
	text-decoration: none;
	font-weight: bold;
	line-height: 50px;
	display: flex;
	min-width: 250px;
	flex-grow: 1;
	justify-content: center;
}



.lenke a:hover{
	color: white;
	transition: all .1s ease-in-out;

	}



.dropdowninnhold a{ 
	color: black;
	text-decoration: none;
	display: block; 
	padding: 25px;
	font-size: 15px;
	}

.dropdowninnhold{
	height: 0;
	position:absolute; 
	margin-left: 10px;
	background-color:#F0F006;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: 0.5s;
	overflow: hidden;
	width: 250px;
	}

.dropdown:hover .dropdowninnhold{
	height: 134px; 
	}

.dropdowninnhold a:hover{
	text-decoration: underline;
	background-color: #d8d804;
}