body{
	font-family: Courier New;
}

h1{
	margin: 0;
}

.filler{
	height: 100px;
}

.innpakning{
	background-color: red;
	padding: 15px; margin: auto;
	display: flex; flex-flow: row wrap;
	width:90%;
	border-radius: 3px;
}

.kolonne{
	display: flex; flex-grow: 1; flex-flow: column;
	width: 40%; max-height: 500px;
	padding: 10px;
	background-color: white;
}

.varenavn{
	background-color: #dddddd;
	flex-grow: 1;
	padding: 15px;
	max-height: 40px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.bilde{
	padding: 15px;
	display: flex;
	justify-content: center;
	background-color: white;
	border: 2px solid #dddddd;
}

img{
	max-height:400px;
	min-height:300px;
	max-width:100%;
	min-width: 40%;
	object-fit: contain;
}

.beskrivelse, .pris, .rating{
	background-color: #dddddd;
	padding: 5px; margin: 2px;
	border-radius: 3px;
}

.kjøp{
	background-color: yellow;
	display: flex;
	width: 200px;
	margin: 2px;
	padding: 0;
	text-align: center;
	border-radius: 5px;
	margin-top: 10px;
}

.kjøp a{
	flex-grow: 1;
	line-height: 50px;
	text-decoration: none;
}

.kommentarfelt{
	width: 100%;
	margin-top: 30px;
	display: flex;
	flex-flow: row wrap;
}